.coo{
   width: 100%;

background-color: rgb(167, 160, 237);
height: 16cm;
}

form{ 
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 30px;
    width: 600px;
    height: 490;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-top: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
margin-left: 12cm ;
  
}

h1{
    padding-left: 15cm;
padding-top: 10px;
color: white;
}
label{
   margin-top: 10px;
}
.error-message {
    color: red;
    font-size: 0.875rem;
  }