
<ng-container  *ngIf="itemList.length !=0">
    <div class="container pt-55">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive" >
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th> Product Name</th>
                            <th> Product image</th>
                            <th> Content</th>
                            <th> Price</th>
                            <th> Action</th>
                        </tr>
                        <tr  *ngFor="let user of itemList" >
                            <td> {{user.id}}</td>
                            <td><b>   {{user.packagName}}</b></td>
                            <td>
                                <img 
                                [src] = "user.image" width="100%" height="300px">
                                  </td>
                            <td>4{{user.content}}</td>
                            <td> <h3> ₹{{user.price}}/month</h3></td>
                            <td (click)="removeUser(user)"   class="btn btn-danger"><i class="bi bi-trash3"></i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td ><button (click)="emptyCart()" class="btn btn-danger">Empty Cart</button></td>
                            <td>  <a routerLink="/product" class="btn btn-primary">Show More</a></td>
                            <td>  <a routerLink="/product" class="btn btn-success">PAY NOW</a></td>
                            <td> <strong>GRAND TOTAL:₹{{grandTotal }}</strong></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
      
    </div>
</ng-container>

<ng-container *ngIf="itemList.length ==0">
    <div class="contianer">
    <div class="card">
        <h4 class="card-title"><b> My Cart</b></h4>
    </div>
    <div class="center">
        <img src="assets/u0.png">
        <h4><b> your cartis empty</b></h4><br>
        <h6><b>Add item to it now</b></h6><br>
        <a routerLink="/product" class="btn btn-primary">Show more plans</a>
    </div>

</div></ng-container>

