

  <div class="container">
    <table class="table " >
        <thead>
            <tr>
              <th> <b>Sn.o</b></th>
                <th><b> Name</b></th>
                <th> <b> Email</b></th>
                <th> <b> Phone number</b></th>
                <th><b> Message</b></th>
            </tr>
            <tr  *ngFor="let user of users;   let i = index"  >
                <td> {{i+1}} .{{user.empty}}</td>
                <td><b>{{user.name}}</b></td>
                <td>{{user.email}}</td>
                <td>{{user.phno}}</td>
                <td>{{user.message}}</td> 
            </tr>
           
        </thead>
    </table>

  </div>
