
h1{
   
   margin-left: 70px;
   margin-top: 30PX;

color: white;
}


.centered {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-130%, -0%);
    color:black;
    margin-left: 150px;
    /* border: 0.1px solid rgb(66, 66, 72); */
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
    box-shadow: 10px ,13px,13px rgb(49, 49, 52);
    width: 350px;
    height: 280px;
   margin-top: 10px;
   padding-left: 20px;
   padding-right: 10px;
    padding-top: 50px;}
    .form-control{
        width: 250px;
    }
    .top-right{
        position: absolute;
        top:2cm;
       
        margin-left:-140px;
    }
    label{
        color: white;
    }
   
   
    