.a{
    position: relative;
  text-align: center;
  color: white;
  }
  .centered h5{
    padding-top: 9%;
    left: 50px;
  }
  .centered {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-60%, -40%);
    color:black;
  }