<div class="contianer-fulid a">
  <img src="assets/a8.jpg" width="1350px" height="500px" ><div class="centered">
    <h1 ><b>Granites</b></h1>
  <h3 > Choosing the right marble slabs for your home is very important.
   </h3>
  </div>
   </div>
   <br>
   <br>

<div class="cardlist">
    <div class="card">
        <img src="assets/a4.jpg" height="70%">
       <div class="butten">
        <button class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#exampleModal" ></button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Glod granite slab</h4>
                 <h4></h4>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="assets/a8.jpg" width="90%" height="40%">
                        </div>
                        <div class="col-md-6">
                            <h6>
                                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
                              <hr>
                              <h6>
                                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	light </h6>
                              <hr>
                              <h6>
                                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
                              <hr>
                              <h6>
                                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
                              <hr>
                              <h6>
                                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
                              <hr>
                              <h6>
                                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
                              <hr>
                              <h6>
                                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
                              <hr>
                
                              <h6>
                                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                                Brushed , Bush – Hammered and Leather</h6>
                              <hr>
                              
                        </div>
                    </div>
                 </div>
                
                </div>
                <div class="modal-footer">
                 
                  <button type="button" class="btn btn-primary">Add a card</button>
                </div>
              </div>
            </div>
          </div>
        &nbsp; <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" ></button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Glod granite slab</h4>
                 <h4></h4>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="assets/s9.jpg" width="90%" height="40%">
                        </div>
                        <div class="col-md-6">
                            <h6>
                                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
                              <hr>
                              <h6>
                                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	grey</h6>
                              <hr>
                              <h6>
                                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
                              <hr>
                              <h6>
                                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
                              <hr>
                              <h6>
                                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
                              <hr>
                              <h6>
                                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
                              <hr>
                              <h6>
                                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
                              <hr>
                
                              <h6>
                                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                                Brushed , Bush – Hammered and Leather</h6>
                              <hr>
                              
                        </div>
                    </div>
                 </div>
                
                </div>
                <div class="modal-footer">
                 
                  <button type="button" class="btn btn-primary">Add a card</button>
                </div>
              </div>
            </div>
          </div>
        &nbsp; <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Glod granite slab</h4>
                 <h4></h4>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="assets/a6.jpg" width="90%" height="40%">
                        </div>
                        <div class="col-md-6">
                            <h6>
                                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
                              <hr>
                              <h6>
                                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	black </h6>
                              <hr>
                              <h6>
                                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
                              <hr>
                              <h6>
                                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
                              <hr>
                              <h6>
                                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
                              <hr>
                              <h6>
                                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
                              <hr>
                              <h6>
                                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
                              <hr>
                
                              <h6>
                                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                                Brushed , Bush – Hammered and Leather</h6>
                              <hr>
                              
                        </div>
                    </div>
                 </div>
                
                </div>
                <div class="modal-footer">
                 
                  <button type="button" class="btn btn-primary">Add a card</button>
                </div>
              </div>
            </div>
          </div>
       </div>
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Glod granite slab</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Glod granite slab</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
              
    </div>
    <div class="card">
        <img src="assets/a2.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Diamond granite slab</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Diamond granite slab</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/a3.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Sliver granite slab</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Sliver granite slab</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>

    <div class="card">
        <img src="assets/a1.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">White Granite</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">White Granite</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>

    <div class="card">
        <img src="assets/a6.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Gold Granite</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Gold Granite</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>

    <div class="card">
        <img src="assets/a7.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Yellow Granite</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Yellow Granite</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>


    <div class="card">
        <img src="assets/a8.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Blue Granite</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Blue Granite</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>



    <div class="card">
        <img src="assets/s9.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Pink Granite</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Pink Granite</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>




    <div class="card">
        <img src="assets/s8.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Black Granite</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Black Granite</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>


    <div class="card">
        <img src="assets/s7.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Grey Granite</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Grey Granite</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>



    <div class="card">
        <img src="assets/s6.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Sliver granite slab</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Sliver granite slab</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>




    <div class="card">
        <img src="assets/s9.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Sliver granite slab</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Sliver granite slab</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>




    <div class="card">
        <img src="assets/a3.jpg" height="70%">
        <h4  data-bs-toggle="modal" data-bs-target="#exampleModal">Sliver granite slab</h4>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Sliver granite slab</h4>
               <h4></h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <h6>
                Origin: &nbsp;	 &nbsp; &nbsp;&nbsp;South India</h6>
              <hr>
              <h6>
                Color: &nbsp;	 &nbsp; &nbsp;&nbsp;	Grey </h6>
              <hr>
              <h6>
                Gangsaw Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	260 x 160 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Cutter Slab: &nbsp;	 &nbsp; &nbsp;&nbsp;	180 x 60 cm up in 2 & 3  cm</h6>
              <hr>
              <h6>
                Tiles: &nbsp;	 &nbsp; &nbsp;&nbsp;30 x 30 , 30 x 60, 60 x 60 cm</h6>
              <hr>
              <h6>
                Countertops: &nbsp;	 &nbsp; &nbsp;&nbsp;	Custom</h6>
              <hr>
              <h6>
                Thickness: &nbsp;	 &nbsp; &nbsp;&nbsp;	2-3 CM</h6>
              <hr>

              <h6>
                Finishes: &nbsp;	 &nbsp; &nbsp;&nbsp;	Flamed , Polished , Lepatora , Honed ,
                Brushed , Bush – Hammered and Leather</h6>
              <hr>
              
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Add a card</button>
              </div>
            </div>
          </div>
        </div>
    
    </div>
</div><br><br>
<footer
class="text-center text-lg-start text-black"
style="background-color: #cdd3de"
>
<!-- Section: Social media -->

<section
   class="d-flex justify-content-between p-6"
   style="background-color: #4b9cdf"
   >
<!-- Left -->
<div class="me-5">
<span>Get connected with us on social networks:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
<a href="" class="text-white me-4">

</a>
<a href="" class="text-white me-4">
<i class="bi bi-facebook" style="color: blue;" ></i>
</a>
<a href="" class="text-white me-4">
<i class="bi bi-instagram" style="color: red;"></i>
</a>
<a href="" class="text-white me-4">
<i class="bi bi-twitter" style="color: blue;"></i>
</a>
<a href="" class="text-white me-4">
<i class="bi bi-linkedin" style="color: blue;"></i>
</a>

</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
<!-- Grid row -->
<div class="row mt-3">
<!-- Grid column -->
<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  <!-- Content -->
  <h6 class="text-uppercase fw-bold">Suman IT</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #965bc9; height: 2px"
      />
  <p>
    Our state-of-the-art manufacturing units give us an edge in the natural stone processing category. We are backed by over 2 decades of industry expertise and our granite manufacturing capabilities enable us to meet the multi-faceted needs of our clients.
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">courses</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    <a href="#!" class="text-black">Glod granite slab</a>
  </p>
  <p>
    <a href="#!" class="text-black">Diamond granite slab</a>
  </p>
  <p>
    <a href="#!" class="text-black">Sliver granite slab</a>
  </p>
  <p>
    <a href="#!" class="text-black">Plantium granite slab</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Useful links</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    <a href="#!" class="text-black">PRIVACY POLICY</a>
  </p>
  <p>
    <a href="#!" class="text-black">TERMS AND CONDITIONS</a>
  </p>
  <p>
    <a href="#!" class="text-black">DISCLAIMER</a>
  </p>
  <p>
    <a href="#!" class="text-black">SUPPORT</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Contact</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p><i class="bi bi-geo-alt-fill"></i>Flat No.207,Niligiri Block Aditya Enclave,   Ameerpet HYDERBAD -500038</p>
  <p><i class="bi bi-envelope-fill"></i>Sumanitservice@gmail.com</p>
  <p><i class="bi bi-telephone-plus-fill"></i> + 91 73869 77110</p>
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2020 Copyright:
<a class="text-white" href="#">Granite Developed by <span>Sieve Softech India Pvt. Ltd.</span> </a>

</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
<br> <div class="container co">
<h6>© Copyright 2020 -  Granite Pvt. Ltd.    |   All Rights Reserved   |   Privacy Policy   |   Terms & Conditions   |   Return & Refund Policy   </h6>
<br>
</div> <div class="coL">
   <i class="bi bi-facebook"></i>&nbsp; &nbsp; &nbsp;
<i class="bi bi-twitter"></i>&nbsp; &nbsp; &nbsp;
<i class="bi bi-instagram"></i>&nbsp; &nbsp; &nbsp;
<i class="bi bi-youtube"></i>&nbsp; &nbsp; &nbsp;
<i class="bi bi-linkedin"></i>&nbsp; &nbsp; &nbsp;
<i class="bi bi-wifi"></i>&nbsp; &nbsp; &nbsp;
</div>