 
<a routerLink="/checkout" class="btn btn-primary A  "><i class="bi bi-cart-check-fill"></i>{{totalUser}}</a>
<div class="contianer-fulid ">
    
    <div class="cards" >
        <div *ngFor="let user of users"  class="card">
      
        <img 
            [src] = "user.image" width="100%" height="300px"><br>
       <h3><b>   {{user.packagName}}</b></h3><br>
<h5>{{user.content}}</h5><br>
<h3> ₹{{user.price}}/month</h3>
 <h5><br>
            {{user.replies}}
           </h5><br>
           <button class="btn btn-primary" style="align-items: center;
          margin-left: 45px; margin-right: 80px;" (click)="addtocart(user)">ADD TO CART</button>


</div>
    </div>
</div>
