
<div class="container-fulid  ">
    <img src="assets/lg2.jpg" width="100%" height="530px">
   

    <div class="container login-container">
       
            <div class="box">
                <form class="centered">
                    <h1><b> ADMIN LOGIN </b></h1><BR>
                    <div class="form-group">
                        <label><b> Email :</b></label>
                        <input type="text" class="form-control" placeholder="Your Email *" [(ngModel)]="valid.email"  [ngModelOptions]="{standalone: true}" >
                    </div>
                    <div class="form-group">
                        <label><b> Password:</b></label>
                        <input type="password" class="form-control" placeholder="Your Password *"  [(ngModel)]="valid.password"   [ngModelOptions]="{standalone: true}"  />
                    </div>
                    <div class="form-group">
                        <button  routerLink="/update"  style="margin-left: 90px; " class="btn btn-success" (click)="checkUser(valid)">Login </button>
                    </div>
                 
                </form>
            </div>
        </div>
</div>

